<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.autox.pwd_module">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name="com.autox.module.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="com.autox.module.AddActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait" />
        <activity android:name="com.autox.module.CategoryListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait" />
        <activity android:name="com.autox.module.PlatformListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait" />
        <activity android:name="com.autox.module.PwdSetActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait" />
        <activity android:name="com.autox.module.PwdVerifyActivity"
            android:theme="@style/translucent"/>
        <activity android:name="com.autox.module.PwdSearchActivity"
            android:theme="@style/translucent"/>

    </application>

</manifest>